body {
    background-image: url("WaterFall_1.png");
    background-size: 100%;
}

.chart {
    shape-rendering: crispEdges;
}

.xaxis path {
    stroke: rgba(255, 255, 255, 0.8);
    stroke-width:5;
}

.xaxis line{
    stroke: rgba(255, 255, 255, 1);
    stroke-width:2;
}

.xaxis text{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    fill: rgba(255,255, 255, 0.8);
}

#visualisationWrapper {
    position: fixed;
    top: 0px;
    z-index: -1;
}